:root {
    --primary-color: #055a05;
    /* forest green */
    --secondary-color: #f4a261;
    /* warm send */
    --accent1-color: #264653;
    /*dark slate blue*/
    --accent2-color: #e9c46a;
    /* light golden yellow*/
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

header img {
    width: 120px;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    font-size: 2.5rem;
}

.hero article {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background: rgba(255, 255, 255, .85);
    padding: 20px;
}

.hero article img {
    float: right;
    width: 180px;
    margin-left: 20px;
}

.history {
    padding: 50px;
    text-align: center;
}

.history h2 {
    margin-bottom: 30px;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    gap: 20px;
    align-items: center;
}

.history-content img {
    width: 100%;
}

.adventures {
    padding: 50px;
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
}

.gallery figure {
    flex: 1;
}

.gallery img {
    width: 100%;
    border-radius: 8px;
}

figcaption {
    margin-top: 10px;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 20px;
}

.socialmedia {
    display: flex;
    align-items: end;
    gap: 20px;
}

.socialmedia img {
    display: flex;
    width: 35px;
}